#
# Ignore the objs folder
#
objs/

#
# Ignore executables created with the Makefile
#
*.out

#
# Ignore CMake cache files and folders
#
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

#
# Ignore VS config folders
#
.vs/

#
# Ignore Microsoft Visual Studio files
#
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln
